@media (max-width: 768px) {
  .hero-title {
    font-size: 64px;
  }
  .hero-content-container {
    padding: 0 30px;
  }
.recipe-card{
  text-align: center;
}
  .footer-content  {
   text-align: center;
  }
  .created {
    padding: 30px 30px 15px;
  }


.logo, .social-links{
  margin: 30px 0;
}
}
@media (max-width: 600px) {
  .hero-title {
    font-size: 60px;
  }
  .hero-descr {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .hero-title {
    font-size: 58px;
  }
  .hero-descr {
    font-size: 20px;
  }
}
@media (max-width: 545px) {
  .hero-title {
    font-size: 54px;
  }
  .hero-descr {
    font-size: 20px;
  }

}
