/* font-family: 'Nunito', sans-serif; 400,700,800
font-family: 'Roboto', sans-serif; */
:root {
  --dark-text-color: #272142;
  --accent-violet-color: #662eed;
  --accent-pink-color: #f65282;
  --font-family: "Nunito", sans-serif;
}
body {
  font-family: var(--font-family);
}
.nav-link {
  font-size: 16px;
  font-weight: 700;
  color: var(--dark-text-color);
}
.active {
  color: var(--accent-pink-color) !important;
}
.hero-container {
  margin-top: 60px;
  height: 265px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("../img/bg.png") 0 0/100% auto no-repeat;
}

.hero-title {
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.4;
}
.hero-descr {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
}
